# Ignore configuration files
website/config.js

# Ignore Lambda functions and DNS records
lambda_functions(NO push)/
dns-records.csv

# Other common files to ignore
node_modules/
.DS_Store
*.log

# IDE settings
.vscode/